In [82]:
import pandas as pd
import numpy as np
import re

#### Задача 1. 

Откройте датасет "Covid Live", посмотрите первые пять его строчек. Переименуйте названия колонок таким образом, чтобы было:

    Country,\nOther => Country_Other
    Total\nCases => Total_Cases
    Deaths/\n1M pop => Deaths_1M pop
    
(Для последней задачи понадобится написать простенькую регулярку).

In [ ]:
# your code here

In [59]:
data = pd.read_csv('Covid Live.csv')
data.head()

,#,"Country,\nOther",Total\nCases,Total\nDeaths,New\nDeaths,Total\nRecovered,Active\nCases,"Serious,\nCritical",Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
3,4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
4,5,Germany,"33,312,373","149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"

In [60]:
data = data.rename(lambda x: re.sub('/?,?\n', '_', x), axis='columns')

In [61]:
data.drop(['#', 'New_Deaths', 'Serious_Critical', 'Tot Cases_1M pop', 'Deaths_1M pop', 'Tests_1M pop'], axis=1, inplace=True)
data.dropna(inplace=True)

In [64]:
data.head()

,Country_Other,Total_Cases,Total_Deaths,Total_Recovered,Active_Cases,Total_Tests,Population
0,USA,98166904,1084282,94962112,2120510,1118158870,334805269
1,India,44587307,528629,44019095,39583,894416853,1406631776
2,France,35342950,155078,34527115,660757,271490188,65584518
3,Brazil,34706757,686027,33838636,182094,63776166,215353593
4,Germany,33312373,149948,32315200,847225,122332384,83883596

Выведите информацию по датасету. Попробуйте понять, что там за данные хранятся.

In [63]:
for column in ['Total_Cases', 'Total_Deaths', 'Total_Recovered', 'Active_Cases', 'Total_Tests', 'Population']:
    data[column] = data[column].apply(lambda x: int(x.replace(',', '')))

In [ ]:
# your code here

#### Задача 2. 

Давайте наш датасет почистим: нам, скорее всего, понадобятся не все колонки, + хотелось бы избавиться от пропущенных значений NaN. Посмотрите, сколько в итоге останется строк в таблице. Обратите внимание на тип данных: не нужно ли нам его поменять?

In [65]:
len(data)

200

In [ ]:
# your code here

#### Задача 3. 

Давайте сменим тип данных на правильный. Заметьте, это не так просто: в наших данных что-то будет вам мешать.

In [ ]:
# your code here

#### Задача 4. 

Посчитайте, сколько, по этим данным, всего умерло людей от ковида. А сколько выздоровело?

In [ ]:
# your code here

#### Задача 5. 

Добавим новую колонку к нашей таблице: 'death_to_recovered', а в ней посчитаем соотношение смертей к выздоровевшим. Страна с наименьшим таким значением - удачливее всех :). Попробуем отсортировать табличку по этим значениям (используйте метод DataFrame.sort_values(column)).

In [ ]:
# your code here

#### Задача 6. 

Откроем новый датасет: в нем собрана информация про мобильные телефоны, их характеристики и ценовой диапазон. Посмотрите, какие там есть колонки, прикиньте, что они могут означать. Проверьте, есть ли в этом датасете пропущенные значения.

In [ ]:
# your code here

#### Задача 7. 

Сгруппируйте таблицу по колонке "диапазон цены", посчитайте средние значения остальных колонок: удостоверимся, что параметры действительно зависят от цены.

In [ ]:
# your code here

Бонус: давайте на графике посмотрим, как взаимодействуют друг с другом телефонные параметры. Попробуйте проанализировать график и понять, что на нем изображено.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(20, 12))

corr = data.corr()
sns.heatmap(corr, 
            annot=True, linewidths=.5, fmt='.2f',
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values,
            cmap=sns.diverging_palette(100, 200, as_cmap=True), square=True)
plt.show()